.resultsContainer {
	height: fit-content;
	width: 100%;
	padding: 32px;
	background-color: var(--color-slate-900);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--color-white);
	text-align: center;
	gap: 16px;
}

.resultsContainerTrue {
	justify-content: start;
}

.resultsContainer p {
	color: var(--color-slate-300);
}

.displayResults {
	text-align: left;
	align-items: start;
}

.resultsWrapper {
	display: block;
	border-top: 4px solid var(--color-lime);
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	padding: 16px 8px;
	background-color: #09202d;
}

.monthlyAmmount {
	color: var(--color-lime);
	padding: 8px 0px;
	border-bottom: 1px solid #e4f4fd24;
}

.totalWrapper {
	margin-top: 16px;
}

.totalWrapper p {
	padding-bottom: 8px;
}

@media screen and (min-width: 768px) {
	.resultsWrapper {
		width: 100%;
		padding: 24px;
		margin-top: 24px;
		border-radius: 8px;
	}

	.resultsContainer > p {
		max-width: 65ch;
		text-wrap: wrap;
	}
}
