.clearLink {
	text-decoration: underline;
	color: var(--color-slate-700);
	transition: all 0.3s ease-in-out;
	margin-bottom: 12px;
}

.clearLink:hover {
	color: var(--color-slate-900);
	cursor: pointer;
}
